mode: deployment
replicaCount: 1
image:
  repository: otel/opentelemetry-collector-contrib
resources:
  limits:
    memory: 512Mi
  requests:
    memory: 256Mi


config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

  processors:
    batch:
      timeout: 10s
      send_batch_size: 1024

  exporters:
    otlp/jaeger:
      endpoint: jaeger-collector.default.svc.cluster.local:4317  
      tls:
        insecure: true


  extensions:
    health_check:
      endpoint: 0.0.0.0:13133

  service:
    extensions: [health_check]
    pipelines:
      traces:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlp/jaeger]

      metrics:
        receivers: [otlp]
        processors: [batch]


      logs:
        receivers: [otlp]
        processors: [batch]

